.container {
  min-height: 100vh;
  padding-top: 30px;
}

.table {
  margin-top: 18px;
}

.flag {
  width: 60px;
  border-radius: 8px;
}

.spinner-container {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-container > div {
  width: 4rem;
  height: 4rem;
}
